nav.navbar.navbar-default.navar-fixed-top
 .container
  .navbar-header
   a.navbar-brand(href="#") Rival
  .nav.navbar-nav.navbar-right
   li
      a(href="#section_ask") Intro
   li
       a(href="#section_about") Pics
   li
       a(href="#section_video") Video
   li
        a(href="https://en.wikipedia.org/wiki/Reverse-Flash" target="_blank") Wiki
  
header.jumbotron
 .container
  h1 Rival
  hr
  h2 All Season
section#section_ask
  .container
    h1 INTRO
    .row
      .col-sm-5.img
      .col-sm-7
        h2 Reverse-Flash
        h3 Reverse-Flash is a name which has been used by several fictional supervillains in American comic books published by DC Comics. Each iteration is an enemy of the hero known as The Flash. As each version of the Flash has the power to travel at super-speeds, each version of Reverse-Flash can also travel at super-speeds, allowing them to travel back and forth in time. The fact both of them have the same power is much of the reason they are enemies.
      .col-sm-3.img
section#section_about
  .container
   h1 Pics
    .row
      .col-sm-4
       h2 Eobard Thawne
       .col-sm-9.img
      .col-sm-4
       h2 The Thinker
       .col-sm-10.img
      .col-sm-4
       h2 Cicada
       .col-sm-11.img
section#section_video
 .container
  .row
   .col-sm-12
      h1 All Reverse-Flash in The-Flash
      hr
   .col-sm-12
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/TqhFYkUmxOE', allowfullscreen='')

